@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');

*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Black Ops One", system-ui;

}   

body{ 
      display: grid;
      place-content: center;
      height: 100vh;
      width: 100vw;
      overflow: hidden; 
      background: rgb(36, 171, 167);
    
}


      .flipbook .page{ 
          background: rgb(211, 220, 220);
          display: flex;
          flex-direction: column;
           justify-content: center;
           align-items: center;
           gap: 10px;
           border: 1px solid rgb(0, 0, 0, 0.11)

}   
  
  
       .page .img{ 
         width: 70%;
         object-fit: cover;
         margin: auto;

       }